.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-container h1{
    font-size: auto;
    transition: font-size 0.35s;
}

.extended{
    font-size: 72px;
}
.compressed{
    font-size: 48px;
}