.namebox-container{
    margin: 20px 10px;
    padding: 20px;
    min-width: 75px;
    background-color: #2f2f2f;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.namebox-container:hover{
    background-color: #525252;
}
.namebox-container {
    text-decoration: none;
}